name: Build
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  DOTNET_VERSION: "9.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore ByteFight.sln

      - name: Build
        run: dotnet build ByteFight.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test ByteFight.sln --configuration Release --no-restore --no-build

      - name: Publish
        run: dotnet publish ByteFight.sln --configuration Release --no-restore --no-build
